In [52]:
import sys
import pathlib

import pandas as pd
import geopandas as gpd

DIR = pathlib.Path('..')
sys.path.append(str(DIR))

import transportanalyst as ta

DATA_DIR = DIR/'data/'
OUT_DIR = DIR/'output/'

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [58]:
import json
from datetime import datetime
import googlemaps

In [ ]:
f = open(DATA_DIR/"secrets.txt", "r")
apikey = f.read()

In [119]:
gdf = gpd.read_file(DATA_DIR/'cycle.geojson')
gdf

                      geometry
0  POINT (174.74545 -36.86671)
1  POINT (174.63902 -36.81918)
2  POINT (174.82132 -36.89665)

In [139]:
ta.google_route(
    in_gdf = gdf, 
    trip_name = 'test',
    mode = 'cycle',
    api_key='',
)

,trip_name,leg_id,step_id,mode,from,from_name,to,to_name,route_id,trip_id,distance,duration,start_time,end_time,wait_time,geometry
0,test,0,0,BICYCLING,"(-36.8666213, 174.7453951)",,"(-36.8666956, 174.7451846)",,,,20,0.066667,,,,"LINESTRING (174.74540 -36.86662, 174.74518 -36..."
1,test,0,1,BICYCLING,"(-36.8666956, 174.7451846)",,"(-36.869223, 174.7463882)",,,,301,1.350000,,,,"LINESTRING (174.74518 -36.86670, 174.74544 -36..."
2,test,0,2,BICYCLING,"(-36.869223, 174.7463882)",,"(-36.8690357, 174.7466971)",,,,39,0.116667,,,,"LINESTRING (174.74639 -36.86922, 174.74648 -36..."
3,test,0,3,BICYCLING,"(-36.8690357, 174.7466971)",,"(-36.868713, 174.7463218)",,,,51,0.150000,,,,"LINESTRING (174.74670 -36.86904, 174.74670 -36..."
4,test,0,4,BICYCLING,"(-36.868713, 174.7463218)",,"(-36.86907619999999, 174.7416717)",,,,421,1.266667,,,,"LINESTRING (174.74632 -36.86871, 174.74613 -36..."
5,test,0,5,BICYCLING,"(-36.86907619999999, 174.7416717)",,"(-36.8690294, 174.7290142)",,,,1146,3.433333,,,,"LINESTRING (174.74167 -36.86908, 174.74102 -36..."
6,test,0,6,BICYCLING,"(-36.8690294, 174.7290142)",,"(-36.8692404, 174.7272402)",,,,160,0.466667,,,,"LINESTRING (174.72901 -36.86903, 174.72872 -36..."
7,test,0,7,BICYCLING,"(-36.8692404, 174.7272402)",,"(-36.8694523, 174.7271961)",,,,24,0.066667,,,,"LINESTRING (174.72724 -36.86924, 174.72720 -36..."
8,test,0,8,BICYCLING,"(-36.8694523, 174.7271961)",,"(-36.8694923, 174.7272559)",,,,7,0.016667,,,,"LINESTRING (174.72720 -36.86945, 174.72726 -36..."
9,test,0,9,BICYCLING,"(-36.8694923, 174.7272559)",,"(-36.8708239, 174.7266534)",,,,157,0.466667,,,,"LINESTRING (174.72726 -36.86949, 174.72692 -36..."
10,test,0,10,BICYCLING,"(-36.8708239, 174.7266534)",,"(-36.8705225, 174.7255684)",,,,103,0.333333,,,,"LINESTRING (174.72665 -36.87082, 174.72609 -36..."
11,test,0,11,BICYCLING,"(-36.8705225, 174.7255684)",,"(-36.8699346, 174.7256185)",,,,66,1.433333,,,,"LINESTRING (174.72557 -36.87052, 174.72559 -36..."
12,test,0,12,BICYCLING,"(-36.8699346, 174.7256185)",,"(-36.8692678, 174.7255236)",,,,76,0.233333,,,,"LINESTRING (174.72562 -36.86993, 174.72557 -36..."
13,test,0,13,BICYCLING,"(-36.8692678, 174.7255236)",,"(-36.8714687, 174.7142982)",,,,1107,3.316667,,,,"LINESTRING (174.72552 -36.86927, 174.72545 -36..."
14,test,0,14,BICYCLING,"(-36.8714687, 174.7142982)",,"(-36.8714996, 174.7143056)",,,,3,0.016667,,,,"LINESTRING (174.71430 -36.87147, 174.71431 -36..."
15,test,0,15,BICYCLING,"(-36.8714996, 174.7143056)",,"(-36.872277, 174.71)",,,,402,1.216667,,,,"LINESTRING (174.71431 -36.87150, 174.71431 -36..."
16,test,0,16,BICYCLING,"(-36.872277, 174.71)",,"(-36.8719467, 174.7099696)",,,,37,1.350000,,,,"LINESTRING (174.71000 -36.87228, 174.70999 -36..."
17,test,0,17,BICYCLING,"(-36.8719467, 174.7099696)",,"(-36.8738767, 174.705135)",,,,542,1.650000,,,,"LINESTRING (174.70997 -36.87195, 174.70975 -36..."
18,test,0,18,BICYCLING,"(-36.8738767, 174.705135)",,"(-36.8726059, 174.7051272)",,,,144,1.666667,,,,"LINESTRING (174.70514 -36.87388, 174.70511 -36..."
19,test,0,19,BICYCLING,"(-36.8726059, 174.7051272)",,"(-36.872852, 174.7049075)",,,,34,1.066667,,,,"LINESTRING (174.70513 -36.87261, 174.70500 -36..."
20,test,0,20,BICYCLING,"(-36.872852, 174.7049075)",,"(-36.8570684, 174.6488784)",,,,5624,16.850000,,,,"LINESTRING (174.70491 -36.87285, 174.70488 -36..."
21,test,0,21,BICYCLING,"(-36.8570684, 174.6488784)",,"(-36.857558, 174.648639)",,,,58,0.183333,,,,"LINESTRING (174.64888 -36.85707, 174.64882 -36..."
22,test,0,22,BICYCLING,"(-36.857558, 174.648639)",,"(-36.8571575, 174.6427299)",,,,588,1.750000,,,,"LINESTRING (174.64864 -36.85756, 174.64839 -36..."
23,test,0,23,BICYCLING,"(-36.8571575, 174.6427299)",,"(-36.8548003, 174.6414521)",,,,286,0.866667,,,,"LINESTRING (174.64273 -36.85716, 174.64271 -36..."
24,test,0,24,BICYCLING,"(-36.8548003, 174.6414521)",,"(-36.8548059, 174.6414132)",,,,4,0.016667,,,,"LINESTRING (174.64145 -36.85480, 174.64143 -36..."
25,test,0,25,BICYCLING,"(-36.8548059, 174.6414132)",,"(-36.8532109, 174.6415178)",,,,185,0.583333,,,,"LINESTRING (174.64141 -36.85481, 174.64142 -36..."
26,test,0,26,BICYCLING,"(-36.8532109, 174.6415178)",,"(-36.8368388, 174.6200244)",,,,2724,8.633333,,,,"LINESTRING (174.64152 -36.85321, 174.64127 -36..."
27,test,0,27,BICYCLING,"(-36.8368388, 174.6200244)",,"(-36.8333013, 174.6188876)",,,,410,1.233333,,,,"LINESTRING (174.62002 -36.83684, 174.61984 -36..."
28,test,0,28,BICYCLING,"(-36.8333013, 174.6188876)",,"(-36.8330085, 174.6183966)",,,,54,0.166667,,,,"LINESTRING (174.61889 -36.83330, 174.61875 -36..."
29,test,0,29,BICYCLING,"(-36.8330085, 174.6183966)",,"(-36.8319047, 174.6183587)",,,,123,0.666667,,,,"LINESTRING (174.61840 -36.83301, 174.61839 -36..."
30,test,0,30,BICYCLING,"(-36.8319047, 174.6183587)",,"(-36.8293851, 174.6359501)",,,,1791,5.750000,,,,"LINESTRING (174.61836 -36.83190, 174.61852 -36..."
31,test,0,31,BICYCLING,"(-36.8293851, 174.6359501)",,"(-36.8226587, 174.6356437)",,,,826,2.483333,,,,"LINESTRING (174.63595 -36.82939, 174.63569 -36..."
32,test,0,32,BICYCLING,"(-36.8226587, 174.6356437)",,"(-36.8197832, 174.6395926)",,,,635,1.900000,,,,"LINESTRING (174.63564 -36.82266, 174.63592 -36..."
33,test,0,33,BICYCLING,"(-36.8197832, 174.6395926)",,"(-36.8193562, 174.6399953)",,,,60,0.716667,,,,"LINESTRING (174.63959 -36.81978, 174.63977 -36..."
34,test,0,34,BICYCLING,"(-36.8193562, 174.6399953)",,"(-36.8190255, 174.6395065)",,,,57,0.166667,,,,"LINESTRING (174.64000 -36.81936, 174.63967 -36..."
0,test,1,0,BICYCLING,"(-36.8190255, 174.6395065)",,"(-36.8193562, 174.6399953)",,,,57,0.166667,,,,"LINESTRING (174.63951 -36.81903, 174.63954 -36..."
1,test,1,1,BICYCLING,"(-36.8193562, 174.6399953)",,"(-36.8197832, 174.6395926)",,,,60,0.716667,,,,"LINESTRING (174.64000 -36.81936, 174.63977 -36..."
2,test,1,2,BICYCLING,"(-36.8197832, 174.6395926)",,"(-36.8226587, 174.6356437)",,,,635,1.900000,,,,"LINESTRING (174.63959 -36.81978, 174.63988 -36..."
3,test,1,3,BICYCLING,"(-36.8226587, 174.6356437)",,"(-36.8293851, 174.6359501)",,,,826,2.483333,,,,"LINESTRING (174.63564 -36.82266, 174.63567 -36..."
4,test,1,4,BICYCLING,"(-36.8293851, 174.6359501)",,"(-36.8324009, 174.6210941)",,,,1528,5.016667,,,,"LINESTRING (174.63595 -36.82939, 174.63542 -36..."
5,test,1,5,BICYCLING,"(-36.8324009, 174.6210941)",,"(-36.8341766, 174.6198331)",,,,284,0.850000,,,,"LINESTRING (174.62109 -36.83240, 174.62104 -36..."
6,test,1,6,BICYCLING,"(-36.8341766, 174.6198331)",,"(-36.8614725, 174.7546362)",,,,14134,42.333333,,,,"LINESTRING (174.61983 -36.83418, 174.62002 -36..."
7,test,1,7,BICYCLING,"(-36.8614725, 174.7546362)",,"(-36.8596628, 174.7598484)",,,,534,1.600000,,,,"LINESTRING (174.75464 -36.86147, 174.75476 -36..."
8,test,1,8,BICYCLING,"(-36.8596628, 174.7598484)",,"(-36.8932907, 174.804109)",,,,5550,16.666667,,,,"LINESTRING (174.75985 -36.85966, 174.76012 -36..."
9,test,1,9,BICYCLING,"(-36.8932907, 174.804109)",,"(-36.8942808, 174.8057103)",,,,182,0.550000,,,,"LINESTRING (174.80411 -36.89329, 174.80426 -36..."
10,test,1,10,BICYCLING,"(-36.8942808, 174.8057103)",,"(-36.8954035, 174.8089102)",,,,311,0.933333,,,,"LINESTRING (174.80571 -36.89428, 174.80579 -36..."
11,test,1,11,BICYCLING,"(-36.8954035, 174.8089102)",,"(-36.8970329, 174.8085061)",,,,185,0.533333,,,,"LINESTRING (174.80891 -36.89540, 174.80869 -36..."
12,test,1,12,BICYCLING,"(-36.8970329, 174.8085061)",,"(-36.8972767, 174.8093482)",,,,80,0.233333,,,,"LINESTRING (174.80851 -36.89703, 174.80881 -36..."
13,test,1,13,BICYCLING,"(-36.8972767, 174.8093482)",,"(-36.8942596, 174.8109702)",,,,365,1.533333,,,,"LINESTRING (174.80935 -36.89728, 174.80949 -36..."
14,test,1,14,BICYCLING,"(-36.8942596, 174.8109702)",,"(-36.8958501, 174.8145296)",,,,416,1.600000,,,,"LINESTRING (174.81097 -36.89426, 174.81100 -36..."
15,test,1,15,BICYCLING,"(-36.8958501, 174.8145296)",,"(-36.8937299, 174.815687)",,,,257,0.800000,,,,"LINESTRING (174.81453 -36.89585, 174.81490 -36..."
16,test,1,16,BICYCLING,"(-36.8937299, 174.815687)",,"(-36.895044, 174.8196641)",,,,413,1.250000,,,,"LINESTRING (174.81569 -36.89373, 174.81572 -36..."
17,test,1,17,BICYCLING,"(-36.895044, 174.8196641)",,"(-36.896672, 174.820657)",,,,203,0.616667,,,,"LINESTRING (174.81966 -36.89504, 174.81971 -36..."
18,test,1,18,BICYCLING,"(-36.896672, 174.820657)",,"(-36.8963989, 174.8210552)",,,,47,0.150000,,,,"LINESTRING (174.82066 -36.89667, 174.82106 -36..."

In [59]:
#if you get not results try to change mode to walk and then try again
ta.otp_route(
    in_gdf = gdf, 
    trip_name = 'test',
    date_time = datetime.strptime('20181025 0800', '%Y%m%d %H%M'),
    mode = 'public_transport',
)

,trip_name,leg_id,mode,from,from_name,to,to_name,route_id,trip_id,distance,duration,start_time,end_time,wait_time,geometry
0,test,0,WALK,POINT (174.8213195800781 -36.89746902942904),Origin,POINT (174.8194 -36.89938),1:7511-20181005121442_v71.5,NaN,NaN,264.398000,207.0,2018-10-25 08:07:22,2018-10-25 08:10:49,00:00:01,"LINESTRING (174.82078 -36.89743, 174.82068 -36..."
1,test,1,BUS,POINT (174.8194 -36.89938),1:7511-20181005121442_v71.5,POINT (174.76789 -36.85427),1:7147-20181005121442_v71.5,1:07205-20181005121442_v71.5,1:1151156220-20181005121442_v71.5,8670.877685,1973.0,2018-10-25 08:10:50,2018-10-25 08:43:43,00:00:00,"LINESTRING (174.81940 -36.89938, 174.81940 -36..."
2,test,2,WALK,POINT (174.76789 -36.85427),1:7147-20181005121442_v71.5,POINT (174.76716 -36.8528),1:7089-20181005121442_v71.5,NaN,NaN,209.061000,160.0,2018-10-25 08:43:43,2018-10-25 08:46:23,00:03:37,"LINESTRING (174.76795 -36.85432, 174.76800 -36..."
3,test,3,BUS,POINT (174.76716 -36.8528),1:7089-20181005121442_v71.5,POINT (174.72829 -36.75182),1:4223-20181005121442_v71.5,1:20008-20181005121442_v71.5,1:51358155196-20181005121442_v71.5,14374.919624,1500.0,2018-10-25 08:50:00,2018-10-25 09:15:00,00:00:00,"LINESTRING (174.76716 -36.85280, 174.76719 -36..."
4,test,4,BUS,POINT (174.72829 -36.75182),1:4223-20181005121442_v71.5,POINT (174.6495 -36.79774),1:5809-20181005121442_v71.5,1:12004-20181005121442_v71.5,1:1085156679-20181005121442_v71.5,12748.840060,1199.0,2018-10-25 09:15:00,2018-10-25 09:34:59,00:07:08,"LINESTRING (174.72829 -36.75182, 174.72832 -36..."
5,test,5,BUS,POINT (174.6495 -36.79774),1:5809-20181005121442_v71.5,POINT (174.63935 -36.82006),1:5653-20181005121442_v71.5,1:11201-20181005121442_v71.5,1:1083095817-20181005121442_v71.5,3084.642426,473.0,2018-10-25 09:42:07,2018-10-25 09:50:00,00:00:01,"LINESTRING (174.64950 -36.79774, 174.64945 -36..."
6,test,6,WALK,POINT (174.63935 -36.82006),1:5653-20181005121442_v71.5,POINT (174.6390151977539 -36.81917959744267),Destination,NaN,NaN,167.060000,134.0,2018-10-25 09:50:01,2018-10-25 09:52:15,NaT,"LINESTRING (174.63935 -36.82007, 174.63939 -36..."

In [112]:
sa2 = gpd.read_file(
    DATA_DIR/'statistical-area-2-2018-centroid-inside.gdb', 
    layer = 'sa2_auckland',
)
sa2.head(2)

,SA22018_V1_00,SA22018_V1_NAME,LAND_AREA_SQ_KM,AREA_SQ_KM,EASTING,NORTHING,LATITUDE,LONGITUDE,geometry
0,105300,Kauri,56.103988,56.103988,1.716507e+06,6.056388e+06,-35.629444,174.286657,POINT (1716506.553 6056388.259)
1,342000,Fairlie,4.954126,4.954126,1.425933e+06,5.115053e+06,-44.097011,170.825353,POINT (1425932.599 5115053.006)

In [113]:
bike_od_sa2 = pd.read_csv(DATA_DIR/'bike_OD_SA2.csv')
bike_od_sa2.head(2)

   origin    dest  count
0  357500  357500    108
1  253100  251400     72

In [148]:
if sa2[sa2['SA22018_V1_00'] == '357500'].empty:
    print('True')

In [114]:
import shapely.geometry as geom
WGS84 = {'init': 'epsg:4326'}

In [157]:
def od(row):
    o_sa2 = str(row['origin'])
    d_sa2 = str(row['dest'])
    if not sa2[sa2['SA22018_V1_00'] == o_sa2].empty and not sa2[sa2['SA22018_V1_00'] == d_sa2].empty:
        o_lat = sa2[sa2['SA22018_V1_00'] == o_sa2]['LATITUDE'].iat[0]
        o_lng = sa2[sa2['SA22018_V1_00'] == o_sa2]['LONGITUDE'].iat[0]
        d_lat = sa2[sa2['SA22018_V1_00'] == d_sa2]['LATITUDE'].iat[0]
        d_lng = sa2[sa2['SA22018_V1_00'] == d_sa2]['LONGITUDE'].iat[0]

        if geom.Point(o_lng, o_lat) != geom.Point(d_lng, d_lat):

            gdf = gpd.GeoDataFrame(
                {'geometry':[geom.Point(o_lng, o_lat), geom.Point(d_lng, d_lat)]},
                crs = WGS84,
            )

            route = ta.google_route(
                in_gdf = gdf, 
                trip_name = '{0}_{1}'.format(o_sa2, d_sa2),
                mode = 'cycle',
                api_key='AIzaSyBmJSXJph1vs96hIaSf-unYf8C2tx9Rb44',
                result = 'simple'
            )

            r = route.iloc[0]

        else:
            r = pd.Series()
    else:
        r = pd.Series()
    return r

ods = bike_od_sa2.apply(od, axis=1).dropna(how='all')
ods

ValueError: ('No objects to concatenate', 'occurred at index 336')

In [ ]:
gpd.GeoDataFrame(ods)[['trip_name','distance', 'duration', 'geometry']].to_file(OUT_DIR/'cycle_map2.shp')